@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
#banner {
    background-image: linear-gradient(#00000080, #000000b3),
        url(../img/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*min-height:60vh;*/
}
